# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Secrets and Configuration
appsettings.json
appsettings.Development.json

# Tooling
*.lock.json
